In [1]:
import pandas as pd

df_train_dg = pd.read_csv('train_train_dg.csv')
df_test_dg = pd.read_csv('train_test_dg.csv')

In [2]:
df_train_dg.head()

   Unnamed: 0  image_id  split        sat_image_path              mask_path
0           0    215260  train  train/215260_sat.jpg  train/215260_mask.png
1           1    583569  train  train/583569_sat.jpg  train/583569_mask.png
2           2    293544  train  train/293544_sat.jpg  train/293544_mask.png
3           3    285361  train  train/285361_sat.jpg  train/285361_mask.png
4           4    105596  train  train/105596_sat.jpg  train/105596_mask.png

In [3]:
df_test_dg.head()

   Unnamed: 0  image_id  split        sat_image_path              mask_path
0        5500    407490  train  train/407490_sat.jpg  train/407490_mask.png
1        5501    758734  train  train/758734_sat.jpg  train/758734_mask.png
2        5502    812075  train  train/812075_sat.jpg  train/812075_mask.png
3        5503    993412  train  train/993412_sat.jpg  train/993412_mask.png
4        5504    162554  train  train/162554_sat.jpg  train/162554_mask.png

In [5]:
from tqdm import tqdm
import shutil
import os

root_dst_dg_img = "../DG2/test/images"
root_dst_dg_mask = "../DG2/test/masks"

for i in tqdm(range(len(df_test_dg))):
    dst_img_name = str(df_test_dg.loc[i, "image_id"]) + ".jpg"
    dst_label_name = str(df_test_dg.loc[i, "image_id"]) + "_mask.png"
    
    dst_img_path = os.path.join(root_dst_dg_img, dst_img_name)
    dst_label_path = os.path.join(root_dst_dg_mask, dst_label_name)
    
#     print(dst_img_path)
#     print(dst_label_path)
    
    shutil.copy(df_test_dg.loc[i, "sat_image_path"], dst_img_path)
    shutil.copy(df_test_dg.loc[i, "mask_path"], dst_label_path)

100%|██████████| 726/726 [00:06<00:00, 118.79it/s]

In [7]:
root_dst_dg_img = "../DG2/training/images"
root_dst_dg_mask = "../DG2/training/masks"

for i in tqdm(range(len(df_train_dg))):
    dst_img_name = str(df_train_dg.loc[i, "image_id"]) + ".jpg"
    dst_label_name = str(df_train_dg.loc[i, "image_id"]) + "_mask.png"
    
    dst_img_path = os.path.join(root_dst_dg_img, dst_img_name)
    dst_label_path = os.path.join(root_dst_dg_mask, dst_label_name)
    
#     print(dst_img_path)
#     print(dst_label_path)
    
    shutil.copy(df_train_dg.loc[i, "sat_image_path"], dst_img_path)
    shutil.copy(df_train_dg.loc[i, "mask_path"], dst_label_path)

100%|██████████| 5500/5500 [00:50<00:00, 108.97it/s]